@import '../../styles/scss/breakpoints';

.appBar {
    height: 56px;
    width: 100%;
    background-color: var(--app-bar-background);
    padding: 0 var(---space-3x);
    transition: top var(--theme-transition-duration-base);

    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 10;

    @media #{$BREAKPOINT-TABLET-LAND} {
        height: 100px;
    }
}

.appBarWrapper {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}

.iconWrapper:hover .settingsIcons {
    color: var(--color-text-primary);
}

.iconWrapper {
    svg {
        width: 30px;
        height: 30px;

        @media #{$BREAKPOINT-TABLET-LAND} {
            width: 45px;
            height: 45px;
        }
        path {
            color: var(--color-text-primary);

        }
    }
}

.deskNavigation {
    display: none;

    @media #{$BREAKPOINT-TABLET-LAND} {
        display: flex;
    }
}