@import '@/styles/breakpoints';

.slogan {
    font-family: var(--theme-font-primary);
    font-size: .8rem;
    text-transform: uppercase;
    color: var(--color-green-90);
    max-width: 300px;
    text-align: center;

    @media #{$BREAKPOINT-TABLET} {
        font-size: 1.2rem;
        max-width: 480px;
    }

    @media #{$BREAKPOINT-TABLET-LAND} {
        font-size: 1.8rem;
        max-width: 730px;
    }
}