@import '@/styles/breakpoints';
@import '@/styles/mixins';

.bannerTop {
    width: 100%;
    height: 356px;
    position: relative;
    
    @media #{$BREAKPOINT-TABLET} {
        height: 556px;
    }

    @media #{$BREAKPOINT-TABLET-LAND} {
        height: 756px;
    }
    
    @media #{$BREAKPOINT-DESK} {
        height: 1000px;
    }

    @include overlapReactCircles;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: var(--mac-mask-banner);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    bottom: -1px;
    z-index: 2;

    @media #{$BREAKPOINT-TABLET-LAND} {
    }
}

.macbook {
    width: 70%;
    height: 100%;
    position: absolute;
    background-image: url('../../assets/images/macbook.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 3;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.macbook3D {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999999999;
    bottom: 0;
    left: 0;
    right: 0;
    top: 120px;
    margin: 0 auto;

    @media #{$BREAKPOINT-TABLET-LAND} {
        top: 200px;
    }

    div {
        canvas {
            margin: 0 auto;
        }
    }
}

// .macbook3D::before {
//     content: "";
//     position: absolute;
//     z-index: -1;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     width: 2112px;
//     height: 2112px;
//     background: var(--mac-mask-banner) center center no-repeat;
// }

.fadeoutWrapper {
    position: absolute;
    bottom: -137px;
    left: 0;

    height: 137px;
    width: 100vw;

    background: var(--fadeout-background);
    z-index: 3;
}