@import '@/styles/breakpoints';
@import '@/styles/mixins';

.bannerTop {
    width: 100%;
    height: 356px;
    position: relative;
    
    @media #{$BREAKPOINT-TABLET} {
        height: 556px;
    }

    @media #{$BREAKPOINT-TABLET-LAND} {
        height: 756px;
    }
    
    @media #{$BREAKPOINT-DESK} {
        height: 1000px;
    }

    @include overlapReactCircles;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: var(--mac-mask-banner);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    bottom: -1px;
    z-index: 2;

    @media #{$BREAKPOINT-TABLET-LAND} {
    }
}

.macbook {
    width: 70%;
    height: 100%;
    position: absolute;
    background-image: url('../../assets/images/macbook.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 3;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.macbook3D {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999999999;
    bottom: 0;
    left: 0;
    right: 0;
    top: 120px;
    margin: 0 auto;
    transform: scale(0, 0);
    overflow: hidden;
    
    @media #{$BREAKPOINT-TABLET-LAND} {
        top: 200px;
    }

    div {
        canvas {
            margin: 0 auto;
        }
    }
}

.setZoomAnimation {
    animation: zoomIn 1s 4s ease-in-out;
    animation-fill-mode: forwards;
}

.fadeoutWrapper {
    position: absolute;
    bottom: -137px;
    left: 0;

    height: 137px;
    width: 100%;

    background: var(--fadeout-background);
    z-index: 3;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(800px);

        @media #{$BREAKPOINT-TABLET} {
            transform: translateX(1600px);
        }   

        @media #{$BREAKPOINT-TABLET-LAND} {
            transform: translateX(2360px);
        }
        
        @media #{$BREAKPOINT-DESK} {
            transform: translateX(3000px);
        }
    }
    to {
        opacity: 1;
    }
  }

  @keyframes zoomIn {
    0% {
        transform: scale(0, 0);
      }
      100% {
        transform: scale(1, 1);
      }
  }