@import '@/styles/mixins';

.projectPage {
    overflow: auto;
    height: 100%;
}

.projectContent {
    min-height: 100vh;
    background-color: var(--color-background);
}

.header {

    position: relative;
    // 56 is the header bar height
    padding-top: calc(56px + var(--space-11x));
}

.header, .projectInfos  {
    border-bottom: 1px solid var(--color-background);
    box-shadow: 0 1px 4px 0 var(--color-background-dropshadow);
}

.headerContent, .projectInfosContent {
    @include appMargin;
}

.headerContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-4x);

    @media #{$BREAKPOINT-TABLET-LAND} {
        flex-direction: row;
        // 100 is the desk header bar height
        padding-top: calc(100px + var(--space-11x));
        align-items: flex-start;
        justify-content: space-between;
    }
}

.infoContainer {
    @media #{$BREAKPOINT-TABLET-LAND} {
        order: 2;
        max-width: 60%;
    }
}

.projectInfos {
    background-color: var(--color-white-70);
    padding: 24px 0;
}

.imageContainer {
    max-width: 200px;
    display: flex;

    img {
        width: 100%;
        height: auto;
    }

    @media #{$BREAKPOINT-TABLET-LAND} {
        max-width: 40%;
        order: 1;
    }
}

.title {
    font-family: var(--theme-font-primary);
    font-size: 1.7em;
    color: var(--static-brand-text-color);
    margin-bottom: var(--space-4x);
    text-align: center;

    @media #{$BREAKPOINT-TABLET-LAND} {
        font-size: 3em;
        text-align: left;
    }
}

.brief {
    font-family: var(--theme-font-secondary);
    font-size: 16px;
    color: var(--color-text-primary);
    text-align: justify;
}

.infoTitle {
    position: relative;
    z-index: 1;
    font-family: var(--theme-font-primary);
    font-size: 1.5em;
    font-weight: 400;
    width: fit-content;
    color: var(--color-text-primary);
}

.infoTitle::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 110%;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background: var(--underline-marker-color);
    z-index: -1;
    border-radius: 50px;
}

.infoDescription {
    font-family: var(--theme-font-secondary);
    font-size: 16px;
    color: var(--color-text-primary);
    margin-top: var(--space-1-5x);
}

.projectInfosContent {
    display: flex;
    flex-direction: column;
    gap: var(--space-4x);
}

.infoBlock {

}