// To override slick classes
.portfolio-slider {
    :global {
        .slick-prev {
            z-index: 9999;
        }

        .slick-prev, .slick-next {
        top: 45%;
        }

        .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
            opacity: 50%;
        }

        .slick-prev:before, .slick-next:before {
            background-color: var(--color-brand-primary);
            width: 100%;
            height: 100%;
            font-family: var(--theme-font-secondary);
            font-weight: bold;
            font-size: 30px;
            opacity: 1;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }   
  }