@import '../../../scss/utilities';

.value {
    width: 100px;
    height: 50px;
    border: 1px solid;
}

.valueColour {
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 50%;
}
