@import './breakpoints';

@mixin sectionTitle {
    font-family: var(--theme-font-primary);
    font-size: 38px;
    text-transform: uppercase;
    color: #7EC6B3;
    font-weight: 900;
    margin-top: var(--space-12x);
    margin-bottom: var(--space-4x);
    @include overlapReactCircles;

    @media #{$BREAKPOINT-TABLET-LAND} {
        margin-top: calc(2 * var(--space-12x));
        font-size: 96px;
    }
}

@mixin defaultText {
    font-family: var(--theme-font-secondary);
    font-size: 16px;
    line-height: 1.2;
    color: var(--color-text-primary);

    @media #{$BREAKPOINT-TABLET-LAND} {
        font-size: 22px;
    }
}

@mixin appMargin {
    width: calc(100% - var(--space-6x));
    margin: 0 auto;

    @media #{$BREAKPOINT-TABLET} {
        width: calc(100% - 192px);
    }

    @media #{$BREAKPOINT-TABLET-LAND} {
        width: calc(100% - 480px);
    }
}

@mixin overlapReactCircles {
    position: relative;
    z-index: 2;   
}

@mixin fadeInRightAnimation {
    animation: fadeInRight 1s ease-in-out;
}

@mixin fadeInLeftAnimation {
    animation: fadeInLeft 1s ease-in-out;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(300px);
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }
    to {
        opacity: 1;
    }
}