:root {
    --color-brand-primary:#7EC6B3;
    --color-brand-secondary:#F2F2F2;
    --color-green-90:#1A473C; 
    --color-green-80:#056152;
    --color-green-70:#089b83;
    --color-green-60:#57c7b4;
    --color-green-50:#A1D6C9;
    --color-green-40:#c9ede7;
    --color-green-30:#e0f5f1;
    --color-green-20:#f0faf8;
    --color-green-10:#f7fcfb;
    --color-black-0:#000000; 
    --color-black-80:#0c0c0e;
    --color-black-70:#0c0d0d;
    --color-black-60:#121214;
    --color-black-50:#1F1F23; 
    --color-black-40:#2D2D31;
    --color-black-30:#1f1f1f;
    --color-black-20:#333333;
    --color-black-10:#797979;
    --color-white-80:#8f8f8f;
    --color-white-70:#b8b8b8;
    --color-white-60:#dddddd;
    --color-white-50:#ebebeb; 
    --color-white-40:#f5f5f5;
    --color-white-30:#f2f2f2;
    --color-white-20:#f1f1f1;
    --color-white-10:#fafafa;
    --color-white-0: #ffffff;

    --space-0-5x: 4px;
    --space-1x: 8px;
    --space-1-5x: 12px;
    --space-2x: 16px;
    --space-2-5x: 20px;
    ---space-3x: 24px;
    --space-4x: 32px;
    --space-5x: 40px;
    --space-6x: 48px;
    --space-7x: 56px;
    --space-8x: 64px;
    --space-9x: 72px;
    --space-10x: 80px;
    --space-11x: 88px;
    --space-12x: 96px;

    --theme-font-primary: "Gotham Pro",-apple-system-font,Arial,Helvetica,sans-serif;
    --theme-font-secondary: "Segoe UI",-apple-system-font,Arial,Helvetica,sans-serif;
    --copyrigth-font: "Ubuntu-Mono-Bold",-apple-system-font,Arial,Helvetica,sans-serif;

    --theme-transition-duration-base: 250ms;
    --theme-form-elements-height: 48px;

    --color-background:#F2F2F2;
    --color-input-background: #7EC6B3;
    --app-bar-background:#A1D6C9;
    --footer-background: #1F1F23;
    --color-text-primary: #1F1F23;
    --position-menu-hamburguer-bg: center bottom;
    --overlay-menu-hamburguer: rgba(0,0,0,.6);
    --copyright-color: #92D8C9;
    --fadeout-background: transparent linear-gradient(180deg, #E4E4E4 0%, #E4E4E400 100%) 0% 0% no-repeat padding-box;

    --mac-mask-banner: url('../assets/images/mask-banner-white.png');

    --react-protons-opacity: .1;


    // vars do next
    --border-radius: 12px;

    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
   
    --tile-start-rgb: 242, 242, 242;
    --tile-end-rgb: 228, 232, 233;
    --tile-border: conic-gradient(
        #1A473C,
        #A1D6C9,
        #57c7b4,
        #089b83,
        #056152,
        #1A473C,
        #1A473C
        );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

[data-theme="dark"] {
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --color-input-background: #1A473C;

    --tile-start-rgb: 31, 31, 35;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
    #e0f5f1,
    #A1D6C9,
    #57c7b4,
    #089b83,
    #056152,
    #1A473C,
    #c9ede7
    );

    --color-background:#1F1F23;
    --footer-background: #121214;
    --app-bar-background:#121214;
    --color-text-primary: #F2F2F2;
    --position-menu-hamburguer-bg: center top;
    --overlay-menu-hamburguer: rgba(255, 255, 255, 0.2);
    --fadeout-background: transparent linear-gradient(180deg, var(--color-black-0) 0%, #1212140A 100%) 0% 0% no-repeat padding-box;
    --mac-mask-banner: url('../assets/images/mask-banner.png');
    --react-protons-opacity: 1;
}

$breakpoints: (
    3xs: 0,
    2xs: 374px,
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1680px,
);

$spaces: (
    '0-5x': 4px,
    1x: 8px,
    '1-5x': 12px,
    2x: 16px,
    '2-5x': 20px,
    3x: 24px,
    4x: 32px,
    5x: 40px,
    6x: 48px,
    7x: 56px,
    8x: 64px,
    9x: 72px,
    10x: 80px,
    11x: 88px,
    12x: 96px,
);

$border-radius: (
    s: 8px,
    m: 12px,
    circle: 50%,
    pill: 24px,
);

$aspect-ratios: (
    '3-2': '3/2',
    '16-9': '16/9',
    '21-9': '21/9',
    '32-9': '32/9',
    '1-1': '1/1',
);

$font-sizes: (
    xs: 11px,
    s: 13px,
    m: 15px,
    l: 17px,
    xl: 19px,
    2xl: 21px,
    3xl: 24px,
    4xl: 27px,
    5xl: 30px,
    6xl: 34px,
    7xl: 38px,
    8xl: 43px,
);

$font-weights: (
    light: 350,
    regular: 450,
    medium: 600,
    semibold: 700,
    bold: 800,
);

$js-colors: (
    90: #002d3d,
    80: #00597a,
    70: #007aa5,
    60: #0096cc,
    50: #8fcae0,
    40: #c9e4ed,
    30: #e0eff5,
    20: #f0f7fa,
    10: #f7fbfc,
);

$js-complementary-colors: (
    90: #522700,
    80: #a34e00,
    70: #ed7100,
    60: #f99539,
    50: #fcb473,
    40: #ffdab8,
    30: #ffead6,
    20: #fff4eb,
    10: #fffaf5,
);

$md-colors: (
    90: #5c001c,
    80: #8f002a,
    70: #d0033f,
    60: #d44972,
    50: #e48ba5,
    40: #efc7d3,
    30: #f5e0e6,
    20: #faf0f3,
    10: #fcf7f9,
);

$md-complementary-colors: (
    90: #f2ece8,
    // TODO replace it as soon UI provides values
    80: #f2ece8,
    // TODO replace it as soon UI provides values
    70: #f2ece8,
    // TODO replace it as soon UI provides values
    60: #f2ece8,
    // TODO replace it as soon UI provides values
    50: #f2ece8,
    // TODO replace it as soon UI provides values
    40: #f2ece8,
    // TODO replace it as soon UI provides values
    30: #f2ece8,
    20: #f6f1ef,
    10: #f9f7f5,
);

$line-heights: (
    '1-5': 1.5,
    '1-25': 1.25,
    '1-125': 1.125,
);

$shadows: (
    xs: 0px 1px 2px rgba(0, 0, 0, 0.12),
    s: 0px 2px 4px rgba(0, 0, 0, 0.12),
    m: 0px 4px 8px rgba(0, 0, 0, 0.12),
    l: 0px 8px 16px rgba(0, 0, 0, 0.12),
    xl: 0px 12px 32px rgba(0, 0, 0, 0.12),
);