@import '@/styles/mixins';

.homeWrapper {
    overflow: auto;
    height: 100%;
}

.content {
    color: #fff;
    overflow-x: hidden;
}

.whatIdo {
    display: flex;
    flex-direction: column;

    @media #{$BREAKPOINT-TABLET} {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.whatIdoTitle {
    @include sectionTitle;
    text-align: center;
}

.portfolio {
    @include sectionTitle;
    text-align: center;
}

.portfolioSection {
    @include overlapReactCircles;
}

.clients {
    @include appMargin;
    
    margin-top: var(--space-12x);

    @media #{$BREAKPOINT-TABLET} {
        margin-top: calc(2 * var(--space-12x));
    }

}