.list {
    margin: 0 0 30px;
    padding: 0;
    list-style: none;
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    border-bottom: 1px solid;
    font-family: 'Open Sans', sans-serif;
}
.value {
    width: 100px;
    height: 50px;
    border: 1px solid;
}

.colourListWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.colourList {
    margin: 15px 0;
    padding: 0;
    list-style: none;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 10px;
}
