@import '../../styles/scss/mixins';

.aboutMe {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: var(--space-8x);
}

.fadeoutWrapper {
    position: absolute;
    top: 0;
    left: (calc(-1 * var(--space-5x) / 2));

    height: 137px;
    width: 100vw;

    background: var(--fadeout-background);
}

.aboutMeInfoWrapper {
    width: 100%;
    height: 560px;
}

.title {
    @include sectionTitle;
}

.text {
    @include defaultText;
}